# Google Cloud Vertex AI
# Authentication via ADC (run: gcloud auth application-default login)
GCP_PROJECT=memoire-agent-minecraft

# for France use europe-west9
# to use gemini-3.1-flash-lite-preview, the location must be global
GCP_LOCATION=global

# IA model
GCP_MODEL=gemini-3.1-flash-lite-preview


# Minecraft Server Configuration
MC_HOST=localhost
MC_PORT=25565
MC_USERNAME=VoyagerG
MC_VERSION=1.20
